
@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section>
    <div class="row d-flex justify-content-center col-12">
        <div class="col-sm-10 col-md-6 col-lg-4 rounded m-24">
            <form id="account" method="post" class="py-5">
                <div class="d-flex justify-content-center">
                    <i class="fa fa-unlock-alt text-success sign-in-icon"></i>
                </div>
                <div class="round-form">
                    <p class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                            <label class="lbl-title">Log In</label>
                        </a>
                    </p>
                    <div class="form-group ">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                    </div>
                    <div class="form-group">
                        <div class="row col-12">
                            <p class="col-12">
                                <a class="text text-bottom" style="margin-left:4%" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                <a class="text text-bottom" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register now</a>

                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    .btn-success {
        background-color: #6610F2;
    }

    .site-title {
        margin-bottom: 12%;
        padding-left: 5%;
    }

    .lbl-title {
        font-size: 25px;
        font-weight: bold;
        color: #6610F2;
    }

    .round-form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 100%;
        margin: 0 auto 100px;
        padding: 45px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
</style>